<div>
  <h1>拠点一覧</h1>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <td></td>
        <td></td>
        <td>拠点番号</td>
        <td>拠点名</td>
        <td>勤怠種類</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>修正</td>
        <td>削除</td>
        <td><%= @base.base_number %></td>
        <td><%= @base.base_name %></td>
        <td><%= @base.attendance_type %></td>
      </tr>
    </tbody>
  </table>
</div>